<div class="container">
  <mat-toolbar>
    <ul style="display: flex; list-style-type: none; margin-left:-53px;">
      <li><img style="height: 49px; width: 90px;" src="https://is1-ssl.mzstatic.com/image/thumb/Purple113/v4/1b/d0/c7/1bd0c7db-a022-39c2-3cf3-3ada93c23e67/AppIcon-0-1x_U007emarketing-0-0-85-220-0-10.png/1200x630wa.png" alt="">
      </li>
      <li  style="margin-top: 12px; margin-left: -20px;font-weight: 300; font-size: 22px; border-right: 4px solid green; padding: 3px;">ALX</li>
    </ul>
    <span class="fill-remaining-space"></span>
    <span>Aloha Keyless Licensing</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
<app-employee></app-employee>
<br>
<app-employee-list></app-employee-list>
</div>
